service: pdfnoodle-mcp

image: pdfnoodle-mcp

servers:
  web:
    hosts:
      - 188.245.248.153

proxy:
  ssl: true
  host: pdfnoodle-mcp.passionfruits.dev
  app_port: 3000
  healthcheck:
    path: /health
    interval: 3
    timeout: 3

registry:
  server: localhost:5555

builder:
  arch: amd64

env:
  clear:
    PORT: 3000
    PDFNOODLE_API_BASE: "https://api.pdfnoodle.com/v1/"

